:host {
    background-color: grey;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 60px;
}

a {
    color: white;
    text-decoration: none;

    &:first-child {
        margin-left: 20px;
    }
}

span {
    color: white;

    &.post::before {
        content: 'post ';
    }
    &.author::before {
        content: 'author ';
    }
}