<section class="row">
  <router-outlet />
  <router-outlet name="author" />
</section>

<h1>Liste des posts</h1>
@if (posts$ | async; as posts) {
  <table>
    @for (post of posts; track post.id) {
      <tr>
        <td>Titre : {{ post.title }}</td>
        <td>Auteur : {{ post.author }}</td>
        <td>
          <button [routerLink]="['/posts', post.id]" routerLinkActive="active">
            Allez aux détails
          </button>
        </td>
        <td><button (click)="selectedPost(post)">Ajouter un post</button></td>
      </tr>
    }
  </table>
} @else {
  ...
}
